@import "../../../../../scss/mixin";

.widget-socialicon {
    width: 17px;
    height: 15px;
    float: left;
    margin-right: 10px;

    a {
        display: block;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: .7;
        @include transition(opacity, .35s, cubic-bezier(.12, .49, 0, 1), 0s);
    }

    a:hover {
        opacity: 1;
    }

}
