
@mixin border-radius($r1, $r2, $r3, $r4) {
    border-radius: $r1 $r2 $r3 $r4;
    -moz-border-radius: $r1 $r2 $r3 $r4;
    -webkit-border-radius: $r1 $r2 $r3 $r4;
}
@mixin box-sizing() {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
@mixin transition($type, $time1, $bezier, $time2) {
    -webkit-transition: $type $time1 $bezier $time2;
    -moz-transition: $type $time1 $bezier $time2;
    -o-transition: $type $time1 $bezier $time2;
    transition: $type $time1 $bezier $time2;
}
@mixin transition2($type, $time1, $bezier, $time2, $typeB, $timeB1, $bezierB, $timeB2) {
    -webkit-transition: $type $time1 $bezier $time2, $typeB $timeB1 $bezierB $timeB2;
    -moz-transition: $type $time1 $bezier $time2, $typeB $timeB1 $bezierB $timeB2;
    -o-transition: $type $time1 $bezier $time2, $typeB $timeB1 $bezierB $timeB2;
    transition: $type $time1 $bezier $time2, $typeB $timeB1 $bezierB $timeB2;
}
@mixin transition-delay($time) {
    -webkit-transition-delay: $time;
    -moz-transition-delay: $time;
    -o-transition-delay: $time;
    transition-delay: $time;
}
@mixin transform($method) {
    -webkit-transform: $method;
    -moz-transform: $method;
    transform: $method;
}
@mixin transform-origin($method) {
    -webkit-transform-origin: $method;
    -moz-transform-origin: $method;
    transform-origin: $method;
}
@mixin box-shadow($var) {
    -webkit-box-shadow: $var;
    -moz-box-shadow: $var;
    box-shadow: $var;
}
