@import "../../../../../scss/mixin";

.widget-keyfeatures {
    padding: 60px 0;

    .description {
        .header {
            font-family: 'GT Pressura Mono' !important;
            font-weight: normal !important;
            color: #000;
        }
        .text {
            font-family: 'Sofia Pro' !important;
            font-weight: bold !important;
            color: #000;
        }
    }
    .keyfeatures {
        padding-top: 60px;

        .keyfeature {
            display: block;
            text-decoration: none;
            margin-bottom: 30px;

            .icon_container {
                height: 200px;
                background: rgba(255,255,255,.5);
                position: relative;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 1;
                    @include transform(translateX(-50%) translateY(-50%));
                }
            }

            .desc {
                height: auto;
                background: #fff;
                padding: 20px;
                position: relative;
                @include box-sizing();

                .text {
                    font-family: 'Sofia Pro';
                    font-weight: bold;
                    text-decoration: none;
                    color: #000;
                    @include transition(color, .5s, cubic-bezier(.12, .49, 0, 1), 0s);
                }

                .arrow {
                    position: absolute;
                    bottom: 15px;
                    left: 20px;

                    svg * {
                        stroke: #9A9A9A;
                        @include transition(stroke, .5s, cubic-bezier(.12, .49, 0, 1), 0s);
                    }
                }
            }
        }
        a.keyfeature {
            .desc {
                padding: 20px 20px 100px;
            }
        }
        a.keyfeature:hover {
            .desc {
                .text {
                    color: #21955F;
                }
                .arrow svg * {
                    stroke: #21955F;
                }
            }
        }
    }
}



@media (max-width: 767px) {
    .widget-keyfeatures {
        padding: 20px 0;

        .description {
            .header {
                margin-bottom: 20px;
            }
        }
        .keyfeatures {
            padding-top: 20px;
        }
    }
}
