.widget-keyfeatures {
  padding: 60px 0;
}

.widget-keyfeatures .description .header {
  font-family: 'GT Pressura Mono' !important;
  font-weight: normal !important;
  color: #000;
}

.widget-keyfeatures .description .text {
  font-family: 'Sofia Pro' !important;
  font-weight: bold !important;
  color: #000;
}

.widget-keyfeatures .keyfeatures {
  padding-top: 60px;
}

.widget-keyfeatures .keyfeatures .keyfeature {
  display: block;
  text-decoration: none;
  margin-bottom: 30px;
}

.widget-keyfeatures .keyfeatures .keyfeature .icon_container {
  height: 200px;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
}

.widget-keyfeatures .keyfeatures .keyfeature .icon_container img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.widget-keyfeatures .keyfeatures .keyfeature .desc {
  height: auto;
  background: #fff;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.widget-keyfeatures .keyfeatures .keyfeature .desc .text {
  font-family: 'Sofia Pro';
  font-weight: bold;
  text-decoration: none;
  color: #000;
  -webkit-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.widget-keyfeatures .keyfeatures .keyfeature .desc .arrow {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.widget-keyfeatures .keyfeatures .keyfeature .desc .arrow svg * {
  stroke: #9A9A9A;
  -webkit-transition: stroke 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: stroke 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: stroke 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: stroke 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.widget-keyfeatures .keyfeatures a.keyfeature .desc {
  padding: 20px 20px 100px;
}

.widget-keyfeatures .keyfeatures a.keyfeature:hover .desc .text {
  color: #21955F;
}

.widget-keyfeatures .keyfeatures a.keyfeature:hover .desc .arrow svg * {
  stroke: #21955F;
}

@media (max-width: 767px) {
  .widget-keyfeatures {
    padding: 20px 0;
  }
  .widget-keyfeatures .description .header {
    margin-bottom: 20px;
  }
  .widget-keyfeatures .keyfeatures {
    padding-top: 20px;
  }
}
