.widget-article {
  padding: 50px 0;
}

.widget-article .date {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #9A9A9A;
  margin-bottom: 10px;
}

.widget-article .title {
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.widget-article .download svg * {
  stroke: #9A9A9A;
}

.widget-article .download:hover svg * {
  stroke: #21955F;
}

.widget-article .back {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #9A9A9A;
  text-decoration: none;
  cursor: pointer;
}

.widget-article .back .text {
  text-decoration: underline;
}

.widget-article .back svg {
  margin-right: 10px;
}

.widget-article .back svg * {
  stroke: #9A9A9A;
}

.widget-article .back.left {
  display: block;
  position: absolute;
  bottom: 30px;
}

.widget-article .back.right {
  display: none;
}

.widget-article .back:hover {
  color: #21955F;
}

.widget-article .back:hover svg * {
  stroke: #21955F;
}

.widget-article .content {
  min-height: 250px;
  color: #6E6E6E;
  font-family: 'Sofia Pro';
  font-weight: 300;
  line-height: 25px;
}

.widget-article .content p {
  margin-bottom: 30px;
}

.widget-article .content a {
  color: #9A9A9A;
  text-decoration: underline;
}

.widget-article .content a:hover {
  color: #21955F;
}

.widget-article .content ul {
  padding: 0 15px;
}

.widget-article .content table {
  width: 100%;
  margin-bottom: 30px;
}

.widget-article .content table tr td {
  padding: 10px;
  border-right: 1px solid #298DA6;
  color: #6E6E6E;
}

.widget-article .content table tr td:last-child {
  border-right: 0;
}

.widget-article .content table tr:nth-child(2n) td {
  background: #D8EFF6;
}

.widget-article .content table tr:first-child {
  border: 1px solid #298DA6;
}

.widget-article .content table tr:last-child {
  border-bottom: 1px solid #298DA6;
}

.widget-article .content em {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 767px) {
  .widget-article {
    padding: 30px 0;
  }
  .widget-article .back.left {
    display: none;
  }
  .widget-article .back.right {
    display: block;
  }
  .widget-article .content {
    min-height: initial;
    line-height: 22px;
    margin-top: 20px;
  }
}
