@import "../../../../../scss/mixin";

.widget-article {
    padding: 50px 0;

    .date {
        font-family: 'GT Pressura Mono';
        font-weight: normal;
        color: #9A9A9A;
        margin-bottom: 10px;
    }

    .title {
        font-family: 'Sofia Pro';
        font-weight: bold;
        color: #000;
        margin-bottom: 20px;
    }

    .download {
        svg * {
            stroke: #9A9A9A;
        }
    }

    .download:hover {
        svg * {
            stroke: #21955F;
        }
    }

    .back {
        font-family: 'GT Pressura Mono';
        font-weight: normal;
        color: #9A9A9A;
        text-decoration: none;
        cursor: pointer;

        .text {
            text-decoration: underline;
        }

        svg {
            margin-right: 10px;

            * {
                stroke: #9A9A9A;
            }
        }
    }
    .back.left {
        display: block;
        position: absolute;
        bottom: 30px;
    }
    .back.right {
        display: none;
    }


    .back:hover {
        color: #21955F;

        svg * {
            stroke: #21955F;
        }
    }

    .content {
        min-height: 250px;
        color: #6E6E6E;
        font-family: 'Sofia Pro';
        font-weight: 300;
        line-height: 25px;

        p {
            margin-bottom: 30px;
        }

        a {
            color: #9A9A9A;
            text-decoration: underline;
        }

        a:hover {
            color: #21955F;
        }

        ul {
            padding: 0 15px;
        }

        table {
            width: 100%;
            margin-bottom: 30px;

            tr {
                td {
                    padding: 10px;
                    border-right: 1px solid #298DA6;
                    color: #6E6E6E;
                }

                td:last-child {
                    border-right: 0;
                }
            }

            tr:nth-child(2n) {
                td {
                    background: #D8EFF6;
                }
            }

            tr:first-child {
                border: 1px solid #298DA6;
            }

            tr:last-child {
                border-bottom: 1px solid #298DA6;
            }
        }

        em {
            font-family: 'GT Pressura Mono';
            font-weight: normal;
            font-style: normal;
        }
    }
}
@media (max-width: 767px) {
    .widget-article {
        padding: 30px 0;


        .back.left {
            display: none;
        }
        .back.right {
            display: block;
        }

        .content {
            min-height: initial;
            line-height: 22px;
            margin-top: 20px;
        }
    }
}
