.p0 {
	margin-top: 0;
	margin-bottom: 0;

	p {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.w-100 {
	width: 100%;
}

%link-more {
	font-size: 18px;
	font-weight: 500;
}

.link-more-white {
	@extend %link-more;
	color: #fff;

	&:hover {
		color: $brand-primary;
	}
}

.link-more-black {
	@extend %link-more;
	color: #000;

	&:hover {
		color: $brand-primary;
	}
}
//
//lists
//

.list {
	margin: 0;
	padding: 0;
	list-style: none;

	> li {
		position: relative;
		display: block;
		margin: 15px 0;
		padding-left: 25px;
	}
}

.list-unstyled {
	margin: 0;
	padding: 0;

	> li {
		padding: 0 0 10px;
	}
}

.fa-ul {
	li {
		margin: 7px 0;
	}
}
//
//fonts color
//

%color-white {
	color: #fff;

	.title,
	a,
	a:hover,
	strong {
		color: #fff;
	}
}

.color-white {
	@extend %color-white;
}
//
//backgrounds
//

.background-primary {
	background-color: $brand-primary;
}

.background-gray-darker {
	background-color: $gray-darker;
}

.background-gray-dark {
	background-color: $gray-dark;
}

.background-gray {
	background-color: $gray;
}

.background-gray-light {
	background-color: $gray-light;
}

.background-gray-lighter {
	background-color: $gray-lighter;
}

.background-white {
	background-color: #fff;
}
//
//buttons general
//

.btn {
	display: inline-block;
	padding: 9px 15px 8px;
	white-space: normal;
	text-decoration: none !important;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	font-size: 18px;
	font-weight: 700;

	&:active,
	&:focus:active {
		transition: all 0s !important;
	}

	&.active,
	&.active:focus,
	&.active:focus,
	&:active:focus,
	&:active:focus,
	&:focus,
	&:hover {
		text-decoration: none !important;
		outline: 0;
	}
}
//
// .fa-left {
// 	margin-right: 8px;
// }
//
// .fa-right {
// 	margin-left: 8px;
// }
// .btn-min {
// 	min-width: 150px;
// }
// .btn-xs {
// 	padding-top: 6px;
// 	padding-bottom: 5px;
// 	font-size: 14px;
//
// 	&:hover {
// 		box-shadow: 0 0 0 2px rgba(#000,0.1);
// 	}
// }

.btn-lg {
	padding: 20px 40px;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
//
// buttons colors
//
// .btn-default,
// a.btn-default {
// 	color: $gray-dark;
// 	border: 1px solid $gray-border;
// 	background-color: transparent;
//
// 	&:focus,
// 	&:hover {
// 		color: $gray-dark;
// 		border: 1px solid rgba(#000,0.1);
// 		background-color: transparent;
// 	}
//
// 	&:active,
// 	&:focus:active {
// 		color: $gray-dark;
// 	}
// }
//

.btn-primary,
a.btn-primary {
	color: #000;
	background-color: $brand-primary;

	&:focus,
	&:hover {
		color: #000;
		background-color: #fff
	}

	&:active,
	&:focus:active {
		color: #000;
		background-color: #fff
	}
}
// .btn-white,
// a.btn-white {
// 	color: $gray-dark;
// 	background-color: #fff;
//
// 	&:focus,
// 	&:hover {
// 		color: $gray-dark;
// 		background-color: darken(#fff,5%);
// 	}
//
// 	&:active,
// 	&:focus:active {
// 		color: $gray-dark;
// 		background-color: darken(#fff,10%);
// 	}
// }
//
// backgrounds position
//

%background-base {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.background-cover {
	@extend %background-base;
}

.background-contain {
	@extend %background-base;
	background-size: contain;
}

.background-fixed {
	@extend %background-base;
	background-attachment: fixed;
	@media (max-width: $screen-sm-max) {
		background-attachment: scroll;
	}
}
//
// flex
//

.d-flex {
	display: flex;
}

.d-block {
	display: block;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-nowrap {
	flex-wrap: nowrap;
}

.flex-center {
	@extend .d-flex;
	align-items: center;
	justify-content: center;
}

.justify-content-center {
	@extend .d-flex;
	justify-content: center;
}

.justify-content-start {
	@extend .d-flex;
	justify-content: flex-start;
}

.justify-content-end {
	@extend .d-flex;
	justify-content: flex-end;
}

.justify-content-between {
	@extend .d-flex;
	justify-content: space-between;
}

.justify-content-around {
	@extend .d-flex;
	justify-content: space-around;
}

.align-items-center {
	@extend .d-flex;
	align-items: center;
}

.align-items-start {
	@extend .d-flex;
	align-items: flex-start;
}

.align-items-end {
	@extend .d-flex;
	align-items: flex-end;
}

.direction-column {
	flex-direction: column;
}

.direction-column-reverse {
	flex-direction: column-reverse;
}

.direction-row {
	flex-direction: row;
}

.direction-row-reverse {
	flex-direction: row-reverse;
}
//
//margins & paddings - variable sin variables file
//

.my {
	&-xxs {
		margin-top: $spacing-xxs;
		margin-bottom: $spacing-xxs;
	}

	&-xs {
		margin-top: $spacing-xs;
		margin-bottom: $spacing-xs;
	}

	&-sm {
		margin-top: $spacing-sm;
		margin-bottom: $spacing-sm;
	}

	&-md {
		margin-top: $spacing-md;
		margin-bottom: $spacing-md;
	}

	&-lg {
		margin-top: $spacing-lg;
		margin-bottom: $spacing-lg;
	}

	&-none {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
}

.mt-none {
	margin-top: 0 !important;
}

.mb-none {
	margin-bottom: 0 !important;
}

.py {
	&-xxs {
		padding-top: $spacing-xxs;
		padding-bottom: $spacing-xxs;
	}

	&-xs {
		padding-top: $spacing-xs;
		padding-bottom: $spacing-xs;
	}

	&-sm {
		padding-top: $spacing-sm;
		padding-bottom: $spacing-sm;
	}

	&-md {
		padding-top: $spacing-md;
		padding-bottom: $spacing-md;
		@media(max-width: $screen-xs-max) {
			padding-top: $spacing-sm;
			padding-bottom: $spacing-sm;
		}
	}

	&-lg {
		padding-top: $spacing-lg;
		padding-bottom: $spacing-lg;
		@media(max-width: $screen-xs-max) {
			padding-top: $spacing-sm;
			padding-bottom: $spacing-sm;
		}
	}

	&-none {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
}

.pt-none {
	padding-top: 0 !important;
}

.pb-none {
	padding-bottom: 0 !important;
}
//various

%fullsize {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.link-fullsize {
	@extend %fullsize;
	z-index: 100;
	text-decoration: none;
}

.image-fullsize {
	@extend %fullsize;
	@extend .background-cover;
	transition: $transition;
}
// general styles

.width-100 {
	display: block;
	width: 100%;
}
