// https://engageinteractive.co.uk/blog/top-10-scss-mixins
// http://w3bits.com/sass-mixins/
//
//
//
@mixin background($color:rgba(#000.0.3), $repeat: no-repeat, $position: center, $size: cover) {
	background-color: $color;
	background-repeat: $repeat;
	background-position: $position;
	background-size: $size;
}

//
//
//
@mixin pseudo($pos: absolute, $display: block, $content: '') {
	position: $pos;
	display: $display;
	content: $content;
}

//
//
//
//truncate
@mixin truncate-single($truncate-boundary:100%) {
	display: block;
	overflow: hidden;
	max-width: $truncate-boundary;
	white-space: nowrap;
	text-overflow: ellipsis;
}
//truncate multilines
@mixin truncate($truncate-font-size:14px, $truncate-line-height:1.4, $truncate-lines-to-show: 2, $truncate-boundary:100%) {
	display: block;
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	max-width: $truncate-boundary;
	height: $truncate-font-size * $truncate-line-height * $truncate-lines-to-show;
	text-overflow: ellipsis;
	font-size: $truncate-font-size;
	line-height: $truncate-line-height;
	-webkit-line-clamp: $truncate-lines-to-show;
}
//
//
//
// gradient short
// .gradient {
//   @include gradient(#07c, #06f, vertical);
// }
@mixin gradient($start-color, $end-color, $orientation) {
	background: $start-color;

	@if $orientation == 'vertical' {
		// background: -webkit-linear-gradient(top, $start-color, $end-color);
		background: linear-gradient(to bottom, $start-color, $end-color);
	} @else
	if $orientation == 'horizontal' {
		// background: -webkit-linear-gradient(left, $start-color, $end-color);
		background: linear-gradient(to right, $start-color, $end-color);
	} @else {
		// background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
		background: radial-gradient(ellipse at center, $start-color, $end-color);
	}
}
//
//
//
//triangles
@mixin triangle($color, $direction, $size: 6px, $position: absolute, $round: false) {
	//  @include pseudo($pos: $position);
	width: 0;
	height: 0;
	@if $round {
		border-radius: 3px;
	}
	@if $direction == down {
		margin-top: 0 - round($size / 2.5);
		border-top: $size solid $color;
		border-right: $size solid transparent;
		border-left: $size solid transparent;
	} @else
	if $direction == up {
		margin-bottom: 0 - round($size / 2.5);
		border-right: $size solid transparent;
		border-bottom: $size solid $color;
		border-left: $size solid transparent;
	} @else
	if $direction == right {
		margin-right: -$size;
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-left: $size solid $color;
	} @else
	if $direction == left {
		margin-left: -$size;
		border-top: $size solid transparent;
		border-right: $size solid $color;
		border-bottom: $size solid transparent;
	}
}
