.widget-history {
  padding: 80px 0;
}

.widget-history * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.widget-history .header {
  margin-bottom: 90px;
}

.widget-history .header .text1 {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #000;
}

.widget-history .header .text2 {
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #21955F;
}

.widget-history .events,
.widget-history .events .event,
.widget-history .timeline {
  width: 100%;
}

.widget-history .timeline {
  margin-bottom: 100px;
  position: relative;
}

.widget-history .timeline .nav {
  position: absolute;
  top: 50%;
  z-index: 3;
  padding: 20px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.widget-history .timeline .nav svg * {
  stroke: #21955F;
}

.widget-history .timeline .nav:hover svg * {
  stroke: gray;
}

.widget-history .timeline .nav.prev {
  left: -20px;
}

.widget-history .timeline .nav.next {
  right: -20px;
}

.widget-history .timeline .timeline_container {
  width: -webkit-calc(100% - 100px);
  width: -moz-calc(100% - 100px);
  width: calc(100% - 100px);
  height: 12px;
  margin: 0 auto;
  position: relative;
}

.widget-history .timeline .timeline_container .year {
  display: block;
  float: left;
  position: relative;
  z-index: 2;
}

.widget-history .timeline .timeline_container .year .bt {
  width: 100px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.widget-history .timeline .timeline_container .year .point {
  width: 13px;
  height: 13px;
  background: #fff;
  border: 2px solid #21955F;
  border-radius: 99px 99px 99px 99px;
  -moz-border-radius: 99px 99px 99px 99px;
  -webkit-border-radius: 99px 99px 99px 99px;
}

.widget-history .timeline .timeline_container .year .text {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #21955F;
  position: absolute;
  top: -30px;
  left: 20px;
}

.widget-history .timeline .timeline_container .year.active .point,
.widget-history .timeline .timeline_container .year:hover .point {
  background: #21955F;
  background: 2px solid #21955F;
}

.widget-history .timeline .timeline_container .year.last {
  width: 20px !important;
  right: -15px;
}

.widget-history .timeline .timeline_container .clear {
  clear: both;
}

.widget-history .timeline .timeline_container .line {
  width: 0;
  height: 2px;
  background: #21955F;
  position: absolute;
  top: 50%;
  z-index: 1;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: width 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: width 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: width 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: width 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.widget-history .timeline.start .timeline_container .line {
  width: 60px !important;
}

.widget-history .events {
  position: relative;
}

.widget-history .events .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: opacity 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: opacity 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: opacity 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.widget-history .events .event img {
  width: 100%;
  height: auto;
}

.widget-history .events .event .description {
  font-family: 'Sofia Pro';
  font-weight: 300;
  color: #6E6E6E;
}

.widget-history .events .event.active {
  opacity: 1;
}

@media (min-width: 767px) {
  .widget-history .timeline .timeline_container .scroll {
    width: auto !important;
  }
}

@media (max-width: 767px) {
  .widget-history {
    padding: 30px 0 0;
  }
  .widget-history .header {
    margin-bottom: 20px;
  }
  .widget-history .header .text2 {
    padding: 20px 0 0;
  }
  .widget-history .header .text2 br {
    display: none;
  }
  .widget-history .timeline {
    margin-bottom: 20px;
  }
  .widget-history .timeline .nav {
    top: 15px;
    padding: 15px;
  }
  .widget-history .timeline .nav.prev {
    left: 0;
  }
  .widget-history .timeline .nav.next {
    right: 0;
  }
  .widget-history .timeline .timeline_container {
    width: -webkit-calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    width: calc(100% - 60px);
    height: 50px;
    overflow: scroll;
  }
  .widget-history .timeline .timeline_container .scroll {
    width: 9999px;
    -webkit-transition: left 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
    -moz-transition: left 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
    -o-transition: left 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
    transition: left 1s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  }
  .widget-history .timeline .timeline_container .line {
    top: 14px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .widget-history .timeline .timeline_container .year {
    width: 50px !important;
    bottom: initial;
    top: 8px;
  }
  .widget-history .timeline .timeline_container .year .text {
    display: none;
    font-size: 10px;
    top: 20px;
    left: 0;
  }
  .widget-history .timeline .timeline_container .year.last {
    width: 50px !important;
    right: 0;
  }
  .widget-history .timeline .timeline_container .year.active .text {
    display: block;
  }
  .widget-history .events {
    height: auto !important;
  }
  .widget-history .events .event {
    display: none;
    left: 15px;
    position: relative;
  }
  .widget-history .events .event img {
    margin-bottom: 20px;
  }
  .widget-history .events .event.active {
    display: block;
  }
}
