@import "../../../../../scss/mixin";

.widget-history {
    padding: 80px 0;

    * {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .header {
        margin-bottom: 90px;

        .text1 {
            font-family: 'GT Pressura Mono';
            font-weight: normal;
            color: #000;
        }

        .text2 {
            font-family: 'Sofia Pro';
            font-weight: bold;
            color: #21955F;
        }
    }

    .events,
    .events .event,
    .timeline {
        width: 100%;
    }

    .timeline {
        margin-bottom: 100px;
        position: relative;

        .nav {
            position: absolute;
            top: 50%;
            z-index: 3;
            padding: 20px;
            cursor: pointer;
            @include transform(translateY(-50%));

            svg * {
                stroke: #21955F;
            }
        }

        .nav:hover {
            svg * {
                stroke: gray;
            }
        }

        .nav.prev {
            left: -20px;
        }

        .nav.next {
            right: -20px;
        }

        .timeline_container {
            width: calc(100% - 100px);
            height: 12px;
            margin: 0 auto;
            position: relative;

            .year {
                display: block;
                float: left;
                position: relative;
                z-index: 2;

                .bt {
                    width: 100px;
                    height: 40px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 2;
                    cursor: pointer;
                }

                .point {
                    width: 13px;
                    height: 13px;
                    background: #fff;
                    border: 2px solid #21955F;
                    @include border-radius(99px, 99px, 99px, 99px);
                }

                .text {
                    font-family: 'GT Pressura Mono';
                    font-weight: normal;
                    color: #21955F;
                    position: absolute;
                    top: -30px;
                    left: 20px;
                }
            }

            .year.active,
            .year:hover {
                .point {
                    background: #21955F;
                    background: 2px solid #21955F;
                }
            }

            .year.last {
                width: 20px !important;
                right: -15px;
            }

            .clear {
                clear: both;
            }

            .line {
                width: 0;
                height: 2px;
                background: #21955F;
                position: absolute;
                top: 50%;
                z-index: 1;
                pointer-events: none;
                @include transform(translateY(-50%));
                @include transition(width, .35s, cubic-bezier(.12, .49, 0, 1), 0s);
            }
        }
    }

    .timeline.start {
        .timeline_container {
            .line {
                width: 60px !important;
            }
        }
    }

    .events {
        position: relative;

        .event {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            @include transition(opacity, 1s, cubic-bezier(.12, .49, 0, 1), 0s);

            img {
                width: 100%;
                height: auto;
            }

            .description {
                font-family: 'Sofia Pro';
                font-weight: 300;
                color: #6E6E6E;
            }
        }

        .event.active {
            opacity: 1;
        }
    }
}
@media (min-width: 767px) {
    .widget-history {
        .timeline {
            .timeline_container {
                .scroll {
                    width: auto !important;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .widget-history {
        padding: 30px 0 0;

        .header {
            margin-bottom: 20px;

            .text2 {
                padding: 20px 0 0;

                br {
                    display: none;
                }
            }
        }

        .timeline {
            margin-bottom: 20px;

            .nav {
                top: 15px;
                padding: 15px;
            }

            .nav.prev {
                left: 0;
            }

            .nav.next {
                right: 0;
            }

            .timeline_container {
                width: calc(100% - 60px);
                height: 50px;
                overflow: scroll;

                .scroll {
                    width: 9999px;
                    @include transition(left, 1s, cubic-bezier(.12, .49, 0, 1), 0s);
                }

                .line {
                    top: 14px;
                    @include transform(none);
                }

                .year {
                    width: 50px !important;
                    bottom: initial;
                    top: 8px;

                    .text {
                        display: none;
                        font-size: 10px;
                        top: 20px;
                        left: 0;
                    }
                }

                .year.last {
                    width: 50px !important;
                    right: 0;
                }

                .year.active {
                    .text {
                        display: block;
                    }
                }
            }
        }

        .events {
            height: auto !important;

            .event {
                display: none;
                left: 15px;
                position: relative;

                img {
                    margin-bottom: 20px;
                }
            }

            .event.active {
                display: block;
            }
        }
    }
}
