.widget-pages {
  padding: 50px 0;
}

.widget-pages .top {
  background: #000;
  border-top: 1px solid #353535;
  padding: 40px 0 170px;
}

.widget-pages .top .header {
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #fff;
}

.widget-pages .links a {
  display: block;
  line-height: 20px;
  background: #D8EFF6;
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #000;
  padding: 13px 10px;
  margin-bottom: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.widget-pages .links a.active,
.widget-pages .links a:hover {
  background: #D8EFF6;
}

.widget-pages .links a.active {
  border-bottom: 2px solid #2a8ea4;
}

.widget-pages .title_page {
  font-family: 'Sofia Pro' !important;
  font-weight: bold !important;
  color: #000;
  margin-bottom: 50px;
}

.widget-pages .pages {
  padding: 50px 0 0;
}

.widget-pages .pages .col {
  padding-bottom: 50px;
}

.widget-pages .content {
  font-family: 'Sofia Pro' !important;
  font-weight: 300 !important;
  color: #6E6E6E;
}

.widget-pages .content h1,
.widget-pages .content h2,
.widget-pages .content h3,
.widget-pages .content h4,
.widget-pages .content h5,
.widget-pages .content h6 {
  font-weight: bold !important;
  color: #000;
}

.widget-pages .content p {
  line-height: 28px;
}

.widget-pages .content a {
  color: #9A9A9A;
  text-decoration: underline;
}

.widget-pages .content a:hover {
  color: #21955F;
}

.widget-pages .content ul {
  padding: 0 15px;
}

.widget-pages .content table {
  width: 100%;
  margin-bottom: 30px;
  font-family: 'Sofia Pro' !important;
  font-weight: 300 !important;
}

.widget-pages .content table tr td {
  padding: 10px;
  border-right: 1px solid #298DA6;
  color: #6E6E6E;
}

.widget-pages .content table tr td:last-child {
  border-right: 0;
}

.widget-pages .content table tr:nth-child(2n) td {
  background: #D8EFF6;
}

.widget-pages .content table tr:first-child {
  border: 1px solid #298DA6;
}

.widget-pages .content table tr:last-child {
  border-bottom: 1px solid #298DA6;
}

.widget-pages .content em {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 996px) {
  .widget-pages .col-menu {
    margin-bottom: 50px;
  }
}
