.widget-subscribe {
  padding: 60px 0;
  background: #ebebeb;
}

.widget-subscribe .header {
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #000000;
  margin-bottom: 90px;
}

.widget-subscribe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.widget-subscribe form .col-full {
  width: 100%;
  padding: 0 25px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.widget-subscribe form .col-half {
  width: 50%;
  padding: 0 25px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.widget-subscribe form div.label,
.widget-subscribe form label {
  width: 100%;
  margin: 0 0 10px;
}

.widget-subscribe form div.label .text,
.widget-subscribe form label .text {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #9A9A9A;
  line-height: 35px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.widget-subscribe form div.label p,
.widget-subscribe form label p {
  margin: 0;
  line-height: normal;
}

.widget-subscribe form div.label .width-full,
.widget-subscribe form label .width-full {
  width: 100%;
}

.widget-subscribe form div.label .width-medium,
.widget-subscribe form label .width-medium {
  width: 90%;
}

.widget-subscribe form div.label .width-short,
.widget-subscribe form label .width-short {
  width: 80%;
}

.widget-subscribe form input,
.widget-subscribe form textarea {
  font-family: 'Sofia Pro';
  font-weight: normal;
  font-size: 18px;
  color: #000000;
}

.widget-subscribe form .nice-select {
  display: inline-block !important;
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  float: none;
  border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
}

.widget-subscribe form .nice-select .list {
  width: 100%;
  margin-top: 0 !important;
  border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
}

.widget-subscribe form .nice-select .list .option {
  height: 35px;
  line-height: 35px;
  background: #d7f1e4 !important;
  border-bottom: 1px solid #009463;
}

.widget-subscribe form .nice-select .list .option.focus,
.widget-subscribe form .nice-select .list .option.selected.focus,
.widget-subscribe form .nice-select .list .option:hover {
  background: #b5d3c4;
}

.widget-subscribe form .nice-select .list:hover .option:not(:hover) {
  background: #d7f1e4;
}

.widget-subscribe form input[type="email"],
.widget-subscribe form input[type="text"] {
  height: 35px;
  line-height: 35px;
  background: #fff;
  border: none;
  padding: 0 8px;
}

.widget-subscribe form textarea {
  height: 120px;
  padding: 8px;
}

.widget-subscribe form input[type="submit"] {
  display: inline-block;
  width: 170px;
  height: 50px;
  line-height: 50px;
  background: #000;
  border: none;
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  font-size: 15px;
  color: #7E7E7E;
  text-decoration: underline;
  text-align: left;
  padding: 0 20px;
  margin-top: 20px;
  cursor: pointer;
  -webkit-transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.widget-subscribe form input[type="submit"]:hover {
  color: #21955F;
}

.widget-subscribe form .wpcf7-list-item {
  display: block;
  line-height: 35px;
  margin: 0;
  position: relative;
}

.widget-subscribe form .wpcf7-list-item input[type=checkbox] {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  cursor: pointer;
}

.widget-subscribe form .wpcf7-list-item .wpcf7-list-item-label {
  font-family: 'Sofia Pro';
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  position: relative;
  padding-left: 35px;
}

.widget-subscribe form .wpcf7-list-item .wpcf7-list-item-label a {
  color: #000;
  text-decoration: underline;
}

.widget-subscribe form .wpcf7-list-item .wpcf7-list-item-label::before {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  left: 0;
  top: 50%;
  margin-top: -3px;
  background-color: #fff;
  outline: none !important;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: background-color 0.5s linear 0s;
  -moz-transition: background-color 0.5s linear 0s;
  -o-transition: background-color 0.5s linear 0s;
  transition: background-color 0.5s linear 0s;
}

.widget-subscribe form .wpcf7-list-item input[type=checkbox]:checked + .wpcf7-list-item-label::before {
  background: url("../../../../../img/checkbox.svg") center center no-repeat #000;
}

.widget-subscribe form .wpcf7-checkbox.normal .wpcf7-list-item .wpcf7-list-item-label {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  font-size: 15px;
  color: #9A9A9A;
}

.widget-subscribe form .wpcf7-form-control-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.widget-subscribe form .wpcf7-not-valid-tip {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  font-size: 15px;
  color: #B85454;
  line-height: 30px;
  margin-top: -10px;
  margin-bottom: 0;
}

.widget-subscribe form .wpcf7-not-valid-tip.tip-extra {
  display: none;
}

.widget-subscribe form .wpcf7-not-valid-tip.tip-extra.add {
  display: block;
}

.widget-subscribe form .wpcf7-response-output {
  width: -webkit-calc(100% - 50px);
  width: -moz-calc(100% - 50px);
  width: calc(100% - 50px);
  background: #000;
  border: none !important;
  color: #7E7E7E;
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  font-size: 15px;
  line-height: 35px;
  margin: 20px auto 0;
}

.widget-subscribe form .ajax-loader {
  width: 32px !important;
  height: 32px !important;
  margin-left: 20px !important;
  background-image: url("../../../../../img/loader_EBEBEB_000000.gif") !important;
}

@media (max-width: 992px) {
  .widget-subscribe form .col-full,
  .widget-subscribe form .col-half {
    width: 100%;
    padding: 0 25px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .widget-subscribe form div.label .width-full,
  .widget-subscribe form div.label .width-medium,
  .widget-subscribe form div.label .width-short,
  .widget-subscribe form label .width-full,
  .widget-subscribe form label .width-medium,
  .widget-subscribe form label .width-short {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .widget-subscribe {
    padding: 20px 0;
  }
  .widget-subscribe .header {
    margin-bottom: 20px;
  }
  .widget-subscribe .header br {
    display: none;
  }
  .widget-subscribe form {
    display: block;
  }
  .widget-subscribe form .col-full,
  .widget-subscribe form .col-half {
    width: 100%;
    padding: 0 25px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .widget-subscribe form div.label .width-full,
  .widget-subscribe form div.label .width-medium,
  .widget-subscribe form div.label .width-short,
  .widget-subscribe form label .width-full,
  .widget-subscribe form label .width-medium,
  .widget-subscribe form label .width-short {
    width: 100%;
  }
  .widget-subscribe form .wpcf7-list-item .wpcf7-list-item-label {
    display: block;
    width: 100%;
    line-height: 25px;
  }
}
