.widget-people {
  background: #EBEBEB;
  padding: 80px 0 0;
}

.widget-people .header {
  margin-bottom: 90px;
}

.widget-people .header .text1 {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #000;
}

.widget-people .header .text2 {
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #000;
}

.widget-people .people .category {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #000;
  margin-bottom: 30px;
}

.widget-people .people .list {
  margin-bottom: 30px;
}

.widget-people .people .list .person {
  margin-bottom: 30px;
}

.widget-people .people .list .person .photo {
  width: 100%;
  height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top  center;
}

.widget-people .people .list .person .desc {
  padding: 20px;
  background: #fff;
}

.widget-people .people .list .person .desc .title {
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #000;
}

.widget-people .people .list .person .desc .description {
  font-family: 'Sofia Pro';
  font-weight: 300;
  color: #9A9A9A;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .widget-people {
    padding: 30px 0 0;
  }
  .widget-people .header {
    margin-bottom: 20px;
  }
  .widget-people .header .text2 {
    padding: 20px 0 0;
  }
  .widget-people .header .text2 br {
    display: none;
  }
  .widget-people .people .list .person {
    margin-bottom: 15px;
  }
  .widget-people .people .list .person .desc .description {
    padding-bottom: 0;
  }
}
