.widget-patents .patents .patent {
  border: 1px solid;
  padding: 40px 20px 10px;
  margin-bottom: 30px;
  position: relative;
}

.widget-patents .patents .patent .number {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #298DA6;
  position: absolute;
  top: 10px;
  left: 20px;
}

.widget-patents .patents .patent .title {
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #000;
}

.widget-patents .patents .patent .desc {
  font-family: 'Sofia Pro';
  font-weight: normal;
  color: #6E6E6E;
  padding-bottom: 30px;
}

.widget-patents .patents .patent .category {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #298DA6;
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.widget-patents .patents .patent[data-cat="patent-granted"] {
  border-color: #298DA6;
}

.widget-patents .patents .patent[data-cat="patent-granted"] .category,
.widget-patents .patents .patent[data-cat="patent-granted"] .number {
  color: #298DA6;
}

.widget-patents .patents .patent[data-cat="patent-pending"] {
  border-color: #6E6E6E;
}

.widget-patents .patents .patent[data-cat="patent-pending"] .category,
.widget-patents .patents .patent[data-cat="patent-pending"] .number {
  color: #6E6E6E;
}
