.widget-blocktextsbackground {
  position: relative;
}

.widget-blocktextsbackground .background {
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  z-index: 0;
}

.widget-blocktextsbackground .container {
  position: relative;
  z-index: 1;
}

.widget-blocktextsbackground .container .inside {
  height: 100%;
  position: relative;
}

.widget-blocktextsbackground .container .inside .inside_relative {
  height: 100%;
  position: relative;
}

.widget-blocktextsbackground .container .inside .header {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #000;
}

.widget-blocktextsbackground .container .inside .text * {
  font-family: 'Sofia Pro';
  font-weight: normal;
}

.widget-blocktextsbackground .container .inside .text h1,
.widget-blocktextsbackground .container .inside .text h2,
.widget-blocktextsbackground .container .inside .text h3,
.widget-blocktextsbackground .container .inside .text h4,
.widget-blocktextsbackground .container .inside .text h5,
.widget-blocktextsbackground .container .inside .text h6,
.widget-blocktextsbackground .container .inside .text b,
.widget-blocktextsbackground .container .inside .text strong {
  font-weight: bold;
}

.widget-blocktextsbackground .container .inside text p {
  margin-bottom: 30px;
}

.widget-blocktextsbackground .container .inside text p:last-child {
  margin-bottom: 0px;
}

.widget-blocktextsbackground .container .inside .text.centerH {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}

.widget-blocktextsbackground .container .inside .link {
  display: block;
  width: 270px;
  height: 50px;
  line-height: 50px;
  background: #000;
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #7E7E7E;
  text-decoration: underline;
  padding: 0 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.widget-blocktextsbackground .container .inside .link:hover {
  color: #21955F;
}

/* ================== */
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
  .widget-blocktextsbackground .container .inside .text br {
    display: none;
  }
}

/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
  .widget-blocktextsbackground .container .inside .text br {
    display: none;
  }
  .widget-blocktextsbackground .container .inside .text.centerH {
    position: relative;
    top: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .widget-blocktextsbackground .container .inside .inside_relative {
    height: auto !important;
  }
  .widget-blocktextsbackground .container .inside .link {
    position: relative;
    margin: 20px 0 0;
  }
}
