.widget-block_texts_and_backgrounds {
  overflow: hidden;
  position: relative;
}

.widget-block_texts_and_backgrounds .col-left,
.widget-block_texts_and_backgrounds .col-right {
  position: relative;
  z-index: 1;
}

.widget-block_texts_and_backgrounds .col-left {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -moz-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.widget-block_texts_and_backgrounds .col-right {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -moz-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.widget-block_texts_and_backgrounds .background,
.widget-block_texts_and_backgrounds .background_global {
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 1;
}

.widget-block_texts_and_backgrounds .col-left .background {
  width: -webkit-calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  width: calc(100% - 30px);
  right: 15px;
}

.widget-block_texts_and_backgrounds .col-right .background {
  width: -webkit-calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  width: calc(100% - 30px);
  left: 15px;
}

.widget-block_texts_and_backgrounds .background_global {
  left: 0;
}

.widget-block_texts_and_backgrounds .header {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #000;
}

.widget-block_texts_and_backgrounds .header h1,
.widget-block_texts_and_backgrounds .header h2,
.widget-block_texts_and_backgrounds .header h3,
.widget-block_texts_and_backgrounds .header h4,
.widget-block_texts_and_backgrounds .header h5,
.widget-block_texts_and_backgrounds .header h6 {
  font-family: 'Sofia Pro';
  font-weight: bold;
}

.widget-block_texts_and_backgrounds .text * {
  font-family: 'Sofia Pro';
  font-weight: normal;
}

.widget-block_texts_and_backgrounds .text b,
.widget-block_texts_and_backgrounds .text h1,
.widget-block_texts_and_backgrounds .text h2,
.widget-block_texts_and_backgrounds .text h3,
.widget-block_texts_and_backgrounds .text h4,
.widget-block_texts_and_backgrounds .text h5,
.widget-block_texts_and_backgrounds .text h6,
.widget-block_texts_and_backgrounds .text strong {
  font-weight: bold;
}

.widget-block_texts_and_backgrounds .text p {
  color: #6E6E6E;
  margin-bottom: 30px;
}

.widget-block_texts_and_backgrounds .text p:last-child {
  margin-bottom: 0;
}

.widget-block_texts_and_backgrounds .text.centerH {
  width: -webkit-calc(100% - 40px);
  width: -moz-calc(100% - 40px);
  width: calc(100% - 40px);
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  z-index: 0;
}

.widget-block_texts_and_backgrounds .textSpecial.text15 {
  font-size: 15px !important;
}

.widget-block_texts_and_backgrounds .textSpecial.text18 {
  font-size: 18px !important;
}

.widget-block_texts_and_backgrounds .textSpecial.textGray {
  color: #6E6E6E;
}

.widget-block_texts_and_backgrounds .textSpecial.textBlack {
  color: #000000;
}

.widget-block_texts_and_backgrounds .textPressuraMono {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
}

.widget-block_texts_and_backgrounds .textSpecial.textBold {
  font-weight: bold;
}

.widget-block_texts_and_backgrounds table.tablestyle1 {
  width: 100%;
}

.widget-block_texts_and_backgrounds table.tablestyle1 tr td {
  line-height: 30px;
  font-family: 'GT Pressura Mono' !important;
  font-weight: normal !important;
  text-transform: uppercase;
  color: #9A9A9A;
  font-size: 15px;
  border-bottom: 2px solid #D8EFF6;
  padding: 5px 0 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.widget-block_texts_and_backgrounds table.tablestyle1 tr td + td {
  text-align: right;
}

.widget-block_texts_and_backgrounds table.tablestyle1 tr td:nth-child(2),
.widget-block_texts_and_backgrounds table.tablestyle1 tr td:nth-child(4),
.widget-block_texts_and_backgrounds table.tablestyle1 tr td:nth-child(6) {
  color: #000;
}

.widget-block_texts_and_backgrounds table.tablestyle1 tr td:nth-child(3) {
  font-size: 18px;
}

.widget-block_texts_and_backgrounds table.tablestyle1 tr:first-child td {
  font-size: 13px;
  color: #9A9A9A;
  text-transform: none;
  border: none;
}

.widget-block_texts_and_backgrounds table.tablestyle1 tr:first-child td:nth-child(3) {
  text-align: right;
}

.widget-block_texts_and_backgrounds .link {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #000000;
  text-decoration: underline;
  -webkit-transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.widget-block_texts_and_backgrounds .link:hover {
  color: #21955F;
}

.widget-block_texts_and_backgrounds .button {
  display: block;
  width: 270px;
  height: 50px;
  line-height: 50px;
  background: #000;
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #7E7E7E;
  text-decoration: underline;
  padding: 0 20px;
  -webkit-transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: color 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.widget-block_texts_and_backgrounds .button:hover {
  color: #21955F;
}

.widget-block_texts_and_backgrounds[data-center="1"] .button {
  position: absolute;
  bottom: 0;
}

/* SM screen style */
/* ================== */
@media (max-width: 992px) {
  .widget-block_texts_and_backgrounds .button {
    width: 200px !important;
  }
}

/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
  .widget-block_texts_and_backgrounds .inside_relative {
    height: auto !important;
  }
  .widget-block_texts_and_backgrounds .text br {
    display: none;
  }
  .widget-block_texts_and_backgrounds .text.centerH {
    top: 0;
    margin: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    position: relative;
  }
  .widget-block_texts_and_backgrounds .col-left[data-order="1"],
  .widget-block_texts_and_backgrounds .col-right[data-order="1"] {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .widget-block_texts_and_backgrounds .col-left[data-order="1"] .background,
  .widget-block_texts_and_backgrounds .col-right[data-order="1"] .background {
    height: 200px !important;
    position: relative;
  }
}

@media (max-width: 576px) {
  .col-left[data-order="1"] .background,
  .col-right[data-order="1"] .background {
    width: -webkit-calc(100% + 30px) !important;
    width: -moz-calc(100% + 30px) !important;
    width: calc(100% + 30px) !important;
    left: -15px !important;
    right: initial;
  }
  .container > .row {
    position: relative;
  }
  .fullscreen.background {
    width: -webkit-calc(100% + 30px) !important;
    width: -moz-calc(100% + 30px) !important;
    width: calc(100% + 30px) !important;
    left: -15px !important;
    right: initial !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .inside {
    position: relative;
  }
  .background.image {
    height: 200px !important;
  }
}
