@import "../../../../../scss/mixin";

.widget-block_texts_and_backgrounds {
    overflow: hidden;
    position: relative;

    .col-left,
    .col-right {
        position: relative;
        z-index: 1;
    }

    .col-left {
        order: 2;

        .background {
            // right: 0;
        }
    }

    .col-right {
        order: 2;

        .background {
            // left: 0;
        }
    }

    .background,
    .background_global {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 0;
        z-index: -1;
        opacity: 1;
    }

    .col-left {
        .background {
            width: calc(100% - 30px);
            right: 15px;
        }
    }

    .col-right {
        .background {
            width: calc(100% - 30px);
            left: 15px;
        }
    }

    .background_global {
        left: 0;
    }

    .header {
        font-family: 'GT Pressura Mono';
        font-weight: normal;
        color: #000;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Sofia Pro';
            font-weight: bold;
        }
    }

    .text * {
        font-family: 'Sofia Pro';
        font-weight: normal;
    }

    .text b,
    .text h1,
    .text h2,
    .text h3,
    .text h4,
    .text h5,
    .text h6,
    .text strong {
        font-weight: bold;
    }

    .text p {
        color: #6E6E6E;
        margin-bottom: 30px;
    }

    .text p:last-child {
        margin-bottom: 0;
    }

    .text.centerH {
        width: calc(100% - 40px);
        top: 50%;
        @include transform(translateY(-50%));
        position: absolute;
        z-index: 0;
    }

    .textSpecial.text15 {
        font-size: 15px !important;
    }

    .textSpecial.text18 {
        font-size: 18px !important;
    }

    .textSpecial.textGray {
        color: #6E6E6E;
    }

    .textSpecial.textBlack {
        color: #000000;
    }

    .textPressuraMono {
        font-family: 'GT Pressura Mono';
        font-weight: normal;
    }

    .textSpecial.textBold {
        font-weight: bold;
    }

    table.tablestyle1 {
        width: 100%;

        tr {
            td {
                line-height: 30px;
                font-family: 'GT Pressura Mono' !important;
                font-weight: normal !important;
                text-transform: uppercase;
                color: #9A9A9A;
                font-size: 15px;
                border-bottom: 2px solid #D8EFF6;
                padding: 5px 0 0;
                @include box-sizing();
            }

            td+td {
                text-align: right;
            }

            td:nth-child(2),
            td:nth-child(4),
            td:nth-child(6) {
                color: #000;
            }

            td:nth-child(3) {
                font-size: 18px;
            }
        }

        tr:first-child {
            td {
                font-size: 13px;
                color: #9A9A9A;
                text-transform: none;
                border: none;
            }

            td:nth-child(3) {
                text-align: right;
            }
        }
    }

    .link {
        font-family: 'GT Pressura Mono';
        font-weight: normal;
        color: #000000;
        text-decoration: underline;
        @include transition(color, .35s, cubic-bezier(.12, .49, 0, 1), 0s);
    }

    .link:hover {
        color: #21955F;
    }

    .button {
        display: block;
        width: 270px;
        height: 50px;
        line-height: 50px;
        background: #000;
        font-family: 'GT Pressura Mono';
        font-weight: normal;
        color: #7E7E7E;
        text-decoration: underline;
        padding: 0 20px;
        @include transition(color, .35s, cubic-bezier(.12, .49, 0, 1), 0s);
    }

    .button:hover {
        color: #21955F;
    }
}

.widget-block_texts_and_backgrounds[data-center="1"] {
    .button {
        position: absolute;
        bottom: 0;
    }
}
/* SM screen style */
/* ================== */
@media (max-width: 992px) {
    .widget-block_texts_and_backgrounds {
        .button {
            width: 200px !important;
        }
    }
}
/* ================== */
/* XS screen style */
/* ================== */
@media (max-width: 767px) {
    .widget-block_texts_and_backgrounds {
        .inside_relative {
            height: auto !important;
        }

        .text br {
            display: none;
        }

        .text.centerH {
            top: 0;
            margin: 0;
            @include transform(none);
            position: relative;
        }

        .col-left[data-order="1"],
        .col-right[data-order="1"] {
            order: 1;

            .background {
                height: 200px !important;
                position: relative;
            }
        }
    }
}
@media (max-width: 576px) {
    .col-left[data-order="1"],
    .col-right[data-order="1"] {
        .background {
            width: calc(100% + 30px) !important;
            left: -15px !important;
            right: initial;
        }
    }

    .container > .row {
        position: relative;
    }

    .fullscreen.background {
        width: calc(100% + 30px) !important;
        left: -15px !important;
        right: initial !important;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .inside {
        position: relative;
    }

    .background.image {
        height: 200px !important;
    }
}
