@import "../../../../../scss/mixin";

.widget-products {
    padding: 60px 0;
    background: #EBEBEB;

    .description {
        .header {
            font-family: 'GT Pressura Mono';
            font-weight: normal;
            color: #000;
        }
        .text {
            font-family: 'Sofia Pro';
            font-weight: bold;
            color: #000;

            p {
                margin: 0;
            }
        }
    }
    .products {
        padding-top: 60px;

        .product {
            text-decoration: none;

            .photo {
                height: 195px;
                background-size: cover;
            }

            .desc {
                height: 135px;
                background: #fff;
                padding: 20px;
                position: relative;
                @include box-sizing();

                .title {
                    font-family: 'Sofia Pro';
                    font-weight: bold;
                    color: #000;
                    @include transition(color, .5s, cubic-bezier(.12, .49, 0, 1), 0s);
                }

                .arrow {
                    position: absolute;
                    bottom: 15px;
                    left: 20px;

                    svg * {
                        stroke: #9A9A9A;
                        @include transition(stroke, .5s, cubic-bezier(.12, .49, 0, 1), 0s);
                    }
                }
            }
        }
        .product:hover {
            .desc {
                .title {
                    color: #21955F;
                }
                .arrow svg * {
                    stroke: #21955F;
                }
            }
        }
    }
}


@media (max-width: 767px) {
    .widget-products {
        padding: 20px 0;

        .description {
            .header {
                margin-bottom: 20px;
            }
        }
        .products {
            padding-top: 20px;

            .product {
               display: block;
               margin-bottom: 30px;
            }
        }
    }
}
