@import "../../../../../scss/mixin";

.widget-toparticle {
    background: #000;
    border-top: 1px solid #353535;
    padding: 20px 0;

    .breadcrump_container {
        margin-bottom: 25px;

        a {
            font-family: 'GT Pressura Mono';
            font-weight: normal;
            color: #9A9A9A;
            text-decoration: none;
            cursor: pointer;

            .text {
                text-decoration: underline;
            }

            svg * {
                stroke: #9A9A9A;
            }
        }

        a:hover {
            color: #21955F;

            svg * {
                stroke: #21955F;
            }
        }
    }

    .title {
        font-family: 'Sofia Pro';
        font-weight: bold;
        color: #fff;
        margin-bottom: 25px;
    }

    .nav {
        a {
            font-family: 'GT Pressura Mono';
            font-weight: normal;
            color: #9A9A9A;
            text-decoration: none;
            cursor: pointer;

            .text {
                text-decoration: underline;
            }

            svg {
                margin-right: 10px;
                * {
                   stroke: #9A9A9A;
               }
            }
        }

        a:hover {
            color: #21955F;

            svg * {
                stroke: #21955F;
            }
        }
    }
}
@media (max-width: 767px) {
    .widget-toparticle {}
}
