.widget-contactmap {
  height: 640px;
  padding-top: 50px;
  position: relative;
}

.widget-contactmap #maps {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.widget-contactmap .header {
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #EBEBEB;
  margin-bottom: 90px;
}

.widget-contactmap .text {
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  color: #9A9A9A;
}

@media (max-width: 767px) {
  .widget-contactmap {
    height: 400px;
  }
}
