@import "../../../../../scss/mixin";

.widget-404 {
    background: #000;
    border-top: 1px solid #353535;
    padding: 50px 0 100px;

    .title {
        font-family: 'Sofia Pro';
        font-weight: bold;
        color: #fff;
        margin: 50px 0 100px;
    }

    .nav {
        a {
            font-family: 'GT Pressura Mono';
            font-weight: normal;
            color: #9A9A9A;
            text-decoration: none;
            cursor: pointer;

            .text {
                text-decoration: underline;
            }
        }

        a:hover {
            color: #21955F;
        }
    }
}
@media (max-width: 767px) {
    .widget-404 {}
}
