@import "../../../../../scss/mixin";

.widget-articleothers {
    padding: 50px 0;
    background: #EBEBEB;

    .header {
        font-family: 'GT Pressura Mono';
        font-weight: normal;
        color: #000000;
        margin-bottom: 50px;
    }

    .box {
        background: #fff;

        .date {
            padding: 20px;
            background: #f5f5f5;
            font-family: 'GT Pressura Mono';
            font-weight: normal;
            color: #9A9A9A;
        }

        .title {
            display: block;
            font-family: 'Sofia Pro';
            font-weight: bold;
            color: #000;
            padding: 30px 20px 70px;
            text-decoration: none;
            position: relative;

            .arrow {
                position: absolute;
                bottom: 20px;
                left: 20px;
                z-index: 1;

                * {
                    stroke: #9A9A9A;
                }
            }
        }
        .title:hover {
            color: #21955F;
            .arrow {
                * {
                    stroke: #21955F;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .widget-articleothers {
        padding: 30px 0;

        .box {
            margin-bottom: 30px;
        }
    }
}
