@import "../../../../../scss/mixin";

.widget-faq {
    padding-bottom: 80px;

    .tabs_container {
        position: relative;
        height: 45px;

        .scroll {
            height: 45px;
            width: 1000px;
            position: relative;

            .tab {
                display: block;
                width: auto;
                height: 45px;
                line-height: 45px;
                font-family: 'GT Pressura Mono';
                font-weight: normal;
                text-align: center;
                color: #9c9c9c;
                float: left;
                background: #ebebeb;
                cursor: pointer;
                margin: 0 2px 0 0;
                padding: 0 60px;
                @include box-sizing();
                @include transition(background, .35s, cubic-bezier(.12, .49, 0, 1), 0s);
            }

            .tab.active,
            .tab:hover {
                color: #000;
                border-left: 1px solid #a0a0a0;
                border-right: 1px solid #a0a0a0;
                border-top: 1px solid #a0a0a0;
                background: #fff;
                position: relative;
                z-index: 2;
            }

            .line {
                width: 100%;
                height: 1px;
                background: #a0a0a0;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
            }

            .clear {
                clear: both;
            }
        }
    }

    .sections_container {
        .sections_group {
            display: none;

            .section {
                border-bottom: 1px solid #bcbec0;
                position: relative;

                .arrow {
                    position: absolute;
                    top: 0px;
                    right: 5px;
                    padding: 20px;
                    z-index: 2;
                    cursor: pointer;
                    @include transition(all, .5s, cubic-bezier(.12, .49, 0, 1), 0s);

                    * {
                        stroke: #9A9A9A;
                    }
                }

                .arrow:hover {
                    * {
                        stroke: #21955F;
                    }
                }

                .short {
                    padding: 20px 0;
                    opacity: 1;
                    cursor: pointer;
                    @include transition(opacity, .5s, cubic-bezier(.12, .49, 0, 1), .1s);

                    .helper {
                        font-family: 'Sofia Pro';
                        font-weight: bold;
                        color: #000;
                        padding-right: 70px;
                    }
                }

                .short:hover {
                    .helper {
                        color: #21955F;
                    }
                }

                .more {
                    height: 0;
                    overflow: hidden;
                    @include transition(height, .5s, cubic-bezier(.12, .49, 0, 1), 0s);

                    .topic {
                        font-family: 'Sofia Pro';
                        font-weight: bold;
                        color: #000;
                        padding: 20px 70px 20px 0;
                    }

                    .description {
                        font-family: 'Sofia Pro';
                        font-weight: 300;
                        color: #6E6E6E;
                        padding: 20px 0 110px;
                    }
                }
            }

            .section.active {
                .arrow {
                    @include transform(rotate(180deg));
                }

                .short {
                    opacity: 0;
                    position: absolute;
                    @include transition(opacity, .5s, cubic-bezier(.12, .49, 0, 1), 0s);
                }

                .more {
                    min-height: 60px;
                    height: auto;
                }
            }
        }

        .sections_group.active {
            display: block;
        }
    }
}
@media (max-width: 992px) {
    .widget-faq {
        .tabs_container {
            .scroll {
                .tab {
                    padding: 0 40px;
                }
            }
        }
        .sections_container .sections_group .section .more .description {
            padding: 20px 0 70px;
        }
    }
}

@media (min-width: 767px) {
    .widget-faq {
        .tabs_container {

            .scroll {

            }
        }
    }
}

@media (max-width: 767px) {
    .widget-faq {
        padding-bottom: 30px;

        .tabs_container {
            overflow-x: scroll;

            .scroll {
                .tab {
                    padding: 0 20px;
                }
            }
        }
        .sections_container .sections_group .section .more .description {
            padding: 20px 0 40px;
        }
    }
}
