.widget-faq {
  padding-bottom: 80px;
}

.widget-faq .tabs_container {
  position: relative;
  height: 45px;
}

.widget-faq .tabs_container .scroll {
  height: 45px;
  width: 1000px;
  position: relative;
}

.widget-faq .tabs_container .scroll .tab {
  display: block;
  width: auto;
  height: 45px;
  line-height: 45px;
  font-family: 'GT Pressura Mono';
  font-weight: normal;
  text-align: center;
  color: #9c9c9c;
  float: left;
  background: #ebebeb;
  cursor: pointer;
  margin: 0 2px 0 0;
  padding: 0 60px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: background 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: background 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: background 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: background 0.35s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.widget-faq .tabs_container .scroll .tab.active,
.widget-faq .tabs_container .scroll .tab:hover {
  color: #000;
  border-left: 1px solid #a0a0a0;
  border-right: 1px solid #a0a0a0;
  border-top: 1px solid #a0a0a0;
  background: #fff;
  position: relative;
  z-index: 2;
}

.widget-faq .tabs_container .scroll .line {
  width: 100%;
  height: 1px;
  background: #a0a0a0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.widget-faq .tabs_container .scroll .clear {
  clear: both;
}

.widget-faq .sections_container .sections_group {
  display: none;
}

.widget-faq .sections_container .sections_group .section {
  border-bottom: 1px solid #bcbec0;
  position: relative;
}

.widget-faq .sections_container .sections_group .section .arrow {
  position: absolute;
  top: 0px;
  right: 5px;
  padding: 20px;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: all 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: all 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: all 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.widget-faq .sections_container .sections_group .section .arrow * {
  stroke: #9A9A9A;
}

.widget-faq .sections_container .sections_group .section .arrow:hover * {
  stroke: #21955F;
}

.widget-faq .sections_container .sections_group .section .short {
  padding: 20px 0;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: opacity 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0.1s;
  -moz-transition: opacity 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0.1s;
  -o-transition: opacity 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0.1s;
  transition: opacity 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0.1s;
}

.widget-faq .sections_container .sections_group .section .short .helper {
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #000;
  padding-right: 70px;
}

.widget-faq .sections_container .sections_group .section .short:hover .helper {
  color: #21955F;
}

.widget-faq .sections_container .sections_group .section .more {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: height 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: height 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: height 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.widget-faq .sections_container .sections_group .section .more .topic {
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #000;
  padding: 20px 70px 20px 0;
}

.widget-faq .sections_container .sections_group .section .more .description {
  font-family: 'Sofia Pro';
  font-weight: 300;
  color: #6E6E6E;
  padding: 20px 0 110px;
}

.widget-faq .sections_container .sections_group .section.active .arrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.widget-faq .sections_container .sections_group .section.active .short {
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: opacity 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: opacity 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: opacity 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
}

.widget-faq .sections_container .sections_group .section.active .more {
  min-height: 60px;
  height: auto;
}

.widget-faq .sections_container .sections_group.active {
  display: block;
}

@media (max-width: 992px) {
  .widget-faq .tabs_container .scroll .tab {
    padding: 0 40px;
  }
  .widget-faq .sections_container .sections_group .section .more .description {
    padding: 20px 0 70px;
  }
}

@media (max-width: 767px) {
  .widget-faq {
    padding-bottom: 30px;
  }
  .widget-faq .tabs_container {
    overflow-x: scroll;
  }
  .widget-faq .tabs_container .scroll .tab {
    padding: 0 20px;
  }
  .widget-faq .sections_container .sections_group .section .more .description {
    padding: 20px 0 40px;
  }
}
