@import "../../../../../scss/mixin";

.widget-footerourbrands {
	.brand {
		text-decoration: none;

		.logo {
			@include transition(color, 0.5s, cubic-bezier(.12, .49, 0, 1), 0s);
			margin-bottom: 10px;

			img {
				height: 30px;
			}
		}

		.title {
			font-family: 'Sofia Pro';
			font-weight: 500;
			color: #EBEBEB;
			@include transition(color, 0.5s, cubic-bezier(.12, .49, 0, 1), 0s);
		}

		.text {
			font-family: 'GT Pressura Mono';
			font-weight: normal;
			color: #9A9A9A;
			text-decoration: underline;
			@include transition(color, 0.5s, cubic-bezier(.12, .49, 0, 1), 0s);
		}

		.arrow {
			margin-top: 140px;

			svg * {
				stroke: #9A9A9A;
				@include transition(stroke, 0.5s, cubic-bezier(.12, .49, 0, 1), 0s);
			}
		}
	}

	.brand:hover {
		.text,
		.title {
			color: #21955F;
		}

		.arrow svg * {
			stroke: #21955F;
		}
	}
}
@media (max-width: 767px) {
	.widget-footerourbrands {
		.brand {
			display: block;
			margin-top: 50px;

			.arrow {
				margin-top: 40px;
			}
		}
	}
}
