.widget-search .top {
  background: #000;
  border-top: 1px solid #353535;
  padding: 50px 0;
}

.widget-search .top .header {
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #fff;
}

.widget-search .top form {
  padding-top: 50px;
}

.widget-search .top form input[type="text"] {
  width: -webkit-calc(100% - 60px);
  width: -moz-calc(100% - 60px);
  width: calc(100% - 60px);
  height: 60px;
  line-height: 60px;
  background: #212121;
  border: none;
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #EBEBEB;
  padding: 0 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.widget-search .top form button {
  width: 60px;
  height: 60px;
  line-height: 60px;
  float: right;
  background: none;
  border: 1px solid #212121;
  position: relative;
  cursor: pointer;
}

.widget-search .top form button svg {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
}

.widget-search .top form button svg * {
  fill: #fff;
}

.widget-search .top form button:hover {
  background: #171616;
}

.widget-search .score {
  padding: 50px 0;
}

.widget-search .score .header {
  font-family: 'Sofia Pro';
  font-weight: bold;
  color: #000;
  margin-bottom: 40px;
}

.widget-search .score .col-first {
  width: -webkit-calc(100% - 120px);
  width: -moz-calc(100% - 120px);
  width: calc(100% - 120px);
  padding-right: 8%;
  position: relative;
}

.widget-search .score .col-second {
  width: 120px;
  position: relative;
  text-align: right;
  padding: 30px 0 0;
}

.widget-search .score .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 25px;
  position: relative;
}

.widget-search .score .post .date {
  font-family: 'GT Pressura Mono' !important;
  font-weight: normal !important;
  color: #9A9A9A;
  margin-bottom: 5px;
}

.widget-search .score .post .title {
  display: inline-block;
  font-family: 'Sofia Pro' !important;
  font-weight: bold !important;
  color: #000;
  margin-bottom: 5px;
  cursor: pointer;
}

.widget-search .score .post .excerpt,
.widget-search .score .post .readmore {
  font-family: 'Sofia Pro' !important;
  font-weight: 300 !important;
  color: #9A9A9A;
}

.widget-search .score .post .readmore {
  display: inline-block;
  text-decoration: underline;
  -webkit-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -moz-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  -o-transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  transition: color 0.5s cubic-bezier(0.12, 0.49, 0, 1) 0s;
  cursor: pointer;
}

.widget-search .score .post .readmore:hover {
  color: #21955F;
}

.widget-search .score .post .data {
  font-family: 'GT Pressura Mono' !important;
  font-weight: normal !important;
  color: #9A9A9A;
  margin: 20px 0 0;
}

.widget-search .score .post .arrow,
.widget-search .score .post .download {
  line-height: 0;
  cursor: pointer;
  margin: 0 5px;
  text-decoration: none;
}

.widget-search .score .post .arrow svg *,
.widget-search .score .post .download svg * {
  stroke: #9A9A9A;
}

.widget-search .score .post .arrow:hover svg *,
.widget-search .score .post .download:hover svg * {
  stroke: #21955F;
}

.widget-search .score .post:last-child {
  margin-bottom: 0;
}
