@import "../../../../../scss/mixin";

.widget-search {
    .top {
        background: #000;
        border-top: 1px solid #353535;
        padding: 50px 0;

        .header {
            font-family: 'Sofia Pro';
            font-weight: bold;
            color: #fff;
        }

        form {
            padding-top: 50px;

            input[type="text"] {
                width: calc(100% - 60px);
                height: 60px;
                line-height: 60px;
                background: #212121;
                border: none;
                font-family: 'Sofia Pro';
                font-weight: bold;
                color: #EBEBEB;
                padding: 0 10px;
                @include box-sizing();
            }

            button {
                width: 60px;
                height: 60px;
                line-height: 60px;
                float: right;
                background: none;
                border: 1px solid #212121;
                position: relative;
                cursor: pointer;

                svg {
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    top: 0;
                    left: 0;

                    * {
                        fill: #fff;
                    }
                }
            }
            button:hover {
                background: #171616;
            }
        }
    }
    .score {
        padding: 50px 0;

        .header {
            font-family: 'Sofia Pro';
            font-weight: bold;
            color: #000;
            margin-bottom: 40px;
        }

        .col-first {
            width: calc(100% - 120px);
            padding-right: 8%;
            position: relative;
        }

        .col-second {
            width: 120px;
            position: relative;
            text-align: right;
            padding: 30px 0 0;
        }

        .post {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-bottom: 25px;
            position: relative;

            .date {
                font-family: 'GT Pressura Mono' !important;
                font-weight: normal !important;
                color: #9A9A9A;
                margin-bottom: 5px;
            }

            .title {
                display: inline-block;
                font-family: 'Sofia Pro' !important;
                font-weight: bold !important;
                color: #000;
                margin-bottom: 5px;
                cursor: pointer;
            }

            .excerpt,
            .readmore {
                font-family: 'Sofia Pro' !important;
                font-weight: 300 !important;
                color: #9A9A9A;
            }

            .readmore {
                display: inline-block;
                text-decoration: underline;
                @include transition(color, .5s, cubic-bezier(.12, .49, 0, 1), 0s);
                cursor: pointer;
            }

            .readmore:hover {
                color: #21955F;
            }

            .data {
                font-family: 'GT Pressura Mono' !important;
                font-weight: normal !important;
                color: #9A9A9A;
                margin: 20px 0 0;
            }


            .arrow,
            .download {
                line-height: 0;
                cursor: pointer;
                margin: 0 5px;
                text-decoration: none;

                svg * {
                    stroke: #9A9A9A;
                }
            }

            .arrow:hover,
            .download:hover {
                svg * {
                    stroke: #21955F;
                }
            }

        }

        .post:last-child {
            margin-bottom: 0;
        }
    }
}
@media (max-width: 767px) {
    .widget-search {}
}
